.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  border-radius: 10px;

}
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}


.donorList {

  overflow-y: auto;
  margin-top: 1px;
  padding: 1px;
  border-radius: 5px;
}


.marquee {
  overflow: hidden;
  white-space: nowrap;
}


.donorList span {
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 1px;
  background-color: #fff;
  border-radius: 1px;

}

.donorList span strong {
  margin-right: 10px;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}



